.Footer {
  background-color: #333333;
  color: #e5e5d8;
}

.footer-container {
  height: 100px;
  font-size: 14px;
  padding-left: 30px;
  padding-top: 15px;
  background-color: #333333;
}

.footer-container > a {
  color: #e5e5d8;
}
