.Section {
  background-color: #666666;
}

.section-row {
  padding-top: 0px;
  background-color: #666666;
}

.section-content {
  color: black;
  background-color: #e5e5d8;
  border-color: black;
  font-size: 20px;
  min-height: 210px;
}

.section-title {
  color: #e5e5d8;
  border-color: #e5e5d8;
  font-size: 42px;
  background-color: #b76eb8;
  text-align: right;
  height: 210px;
}

hr {
  border-color: #e5e5d8;
}
