.Section {
  background-color: #666666;
}

.section-row {
  padding-top: 0px;
  background-color: #666666;
}

.section-content {
  padding: 20px 20px 0px 20px;
  color: #333333;
  background-color: #e5e5d8;
  border-color: #333333;
  font-size: 14px;
  min-height: 180px;
}

.section-title {
  color: #e5e5d8;
  border-color: #e5e5d8;
  font-size: 32px;
  background-color: #b76eb8;
  text-align: right;
  height: 180px;
}

hr {
  border-color: #e5e5d8;
}
